<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<!-- form portion of webage that allows inpunt  -->
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}

    <!-- sets the form input type to a radio button -->
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />

    <!-- label for each radio button -->
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}


<input type="submit" value="Vote" />
</form>
<!-- just typing in {{ question }} will work to get the basics functioning

NEXt is removing hardcoded URLS in templates  this allows for better functionality when creating bigger projects with many templates  -->


